.side-content{
    background-color : #f8f9fa;
    padding : 20px;
    min-height: 70vh;
}

.main-title, .side-title{
    background-color: rgb(237, 234, 234);
    color : rgb(49, 202, 192);
    padding : 15px;
    border-bottom : 1px solid rgb(183, 179, 179);
    font-weight: bold;
    font-size: 20px;
}
.pagination{
    margin-top : 20px;
    margin-left : 15px;
}

.no-results {
    text-align: center;
    padding: 20px;
    color: #666;
}
.table td {
    vertical-align: middle;
}
.avatar-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}
.row.mb-3 {
    background-color: #f0f0f0; 
}
.col-wrapper, .row.mt-3  {
    border : 1px solid rgb(183, 179, 179);
    border-radius: 4px;
}

.info-wrapper{
    padding : 20px;
    min-height: 70vh;
}

.top-header{
    background-color : #cedaf5;
    color : rgb(49, 202, 192);
    font-weight: bold;
    padding : 15px;
    margin-bottom : 15px;
    border-radius : 10px;
    font-size: 30px;
}

.footer{
    background-color : white;
    padding : 15px;
    margin-top : 15px;
    border-radius : 10px;
    font-size: 15px;
    border: 1px solid rgb(183, 179, 179);
    
}
.footer-text{
    font-style: italic;
    color: #666;
}