.side-content{
    background-color : #f8f9fa;
    padding : 20px;
    min-height: 70vh;
}

.main-title, .side-title{
    background-color: #f0f0f0;
    color : rgb(49, 202, 192);
    padding : 15px;
    border-bottom : 1px solid rgb(183, 179, 179);
    font-weight: bold;
    font-size: 20px;
}
.pagination{
    margin-top : 20px;
    margin-left : 15px;
}

.no-results {
    text-align: center;
    padding: 20px;
    color: #666;
}
.table td {
    vertical-align: middle;
}
.avatar-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}
.avatar-img-detail {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin : 5px;
}
.row.mb-3 {
    background-color: #f0f0f0; 
    margin : 1px;
    border-radius : 5px;

}
.col-wrapper, .row.mt-3  {
    border : 1px solid rgb(183, 179, 179);
    border-radius: 5px;
}

.info-wrapper{
    padding : 20px;
    min-height: 70vh;
}

.top-header{
    background-color : #d0e6fe;
    color : rgb(49, 202, 192);
    font-weight: bold;
    padding : 15px;
    margin :  0px 1px 15px 1px;
    border-radius : 5px;
    font-size: 40px;
}

.footer{
    background-color : white;
    padding : 15px;
    margin : 15px 1px;
    border-radius : 5px;
    font-size: 15px;
    border: 1px solid rgb(183, 179, 179);

    
}
.footer-text{
    font-style: italic;
    color: #666;
}

h5:hover {
    color: #2cacb5;
}
.user-detail{
    display: flex;
    flex-direction: column;
    padding : 20px;
    align-items: center;
    justify-content: center;
}